[submodule "gloox"]
	path = gloox-1.0.14
	url = https://github.com/jeidee/gloox.git
[submodule "OpenSSL-for-iPhone"]
	path = OpenSSL-for-iPhone
	url = https://github.com/jeidee/OpenSSL-for-iPhone.git
